.asset-div{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.task-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.task-heading-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 3%;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 20px;
}