* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.card-fit-div {
    /* height: 500px; */
    width: 350px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 20px 0; */
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 7px;
}

.image-element {
    width: 100%;
}

.image-div {
    margin-bottom: 20px;
    padding: 20px;
}

.video-div {
    margin-bottom: 20px;
}

.docs-div {
    margin-bottom: 20px;
}

.reflection-div {
    padding: 30px;
    margin-bottom: 20px;
}

.reflection-text {
    font-weight: 900;
}

.description-div {
    margin-bottom: 20px;
    /* padding: 10px; */
    padding: 35px;
    display: none;
    overflow: hidden;
}

.description-text {
    font-weight: 600;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card-heading {
    width: 100%;
    background: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-bottom: 40px;
}

.audio-element {
    width: 340px;
    margin-bottom: 20px;
}

.collapse-btn-div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px;
}

.fa-solid{
    font-size: 20px;
}

.display-none{
    display: none;
}

.input-div{
    width: 100%;
    padding: 10px;
    position: relative;
    margin-bottom: 30px;
}

.text-area{
    height: 100px;
    width: 100%;
    border: none;
    padding: 10px 5px;
    resize: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 30px;
}

.submit-button{
    position: absolute;
    bottom: 0;
    right: 10px;
    padding: 5px 10px;
    border: 0;
    outline: none;
    color: #fff;
    background: blue;
    border-radius: 7px;
}